<div class="container"> 
  <div class="container__header">
    <h1 class="container__title" ng-hide="checkinCtrl.checkinDone">
      <span class="container__subtitle">{{checkinCtrl.textFormTitle}}</span>
      check-in
    </h1>
    <h1 class="container__title container__title--color" ng-show="checkinCtrl.checkinDone">
      <span class="container__subtitle visibility-hidden">{{checkinCtrl.textFormTitle}}</span> 
      thank you!
    </h1>
    <img class="button-menu-mobile button-menu-mobile-js" src="assets/images/mobile-btn.svg" alt="Mobile button hamburger" />
  </div>
  <div class="container__form">
    <form class="form" action="">
      <div class="form-padding"> 
        <div class="input__group">
          <selectize options='checkinCtrl.optionsProjects' config="checkinCtrl.configProjectsSelectize" ng-model="checkinCtrl.projectId"  ng-disabled='disable' required='true' ng-change="checkinCtrl.getProjectId(checkinCtrl.projectId)"></selectize>
          <label ng-class="{'active-input-js' : checkinCtrl.projectId !==''}" class="input__label" for="project">project</label>
          <p class="input__alert" ng-show="checkinCtrl.statusCheckin.project"><span class="margin-right--smaller sprite sprite--alert"></span>You have to select a project!</p>
        </div>
        <div class="input__group input__group--large">
          <selectize options='checkinCtrl.optionsTask' config="checkinCtrl.configProjectsSelectize2" ng-model="checkinCtrl.taskId" ng-disabled='disable' required='true'></selectize>
          <label ng-class="{'active-input-js' : checkinCtrl.taskId !==''}" class="input__label" for="task">task</label>
          <p class="input__alert" ng-show="checkinCtrl.statusCheckin.task"><span class="margin-right--smaller sprite sprite--alert"></span>You have to select a task!</p>
          </div><!-- 
        --><div class="input__group input__group--small input__group--vertical">
          <input ng-click="effect=true" ng-blur="effect=false" ng-init="effect=false" class="input input-js" id="duration" type="text" ng-model="checkinCtrl.newCheckin.time_bill.duration"/>
          <label ng-class="{'active-input-js' : effect || checkinCtrl.newCheckin.time_bill.duration !==''}" class="input__label" for="duration">duration</label>
          <p class="input__alert" ng-show="checkinCtrl.statusCheckin.duration"><span class="margin-right--smaller sprite sprite--alert"></span>It requires a num!</p>
        </div>
        <div class="input__group">
          <textarea ng-click="effect1=true" ng-blur="effect1=false" ng-init="effect1=false" name="" class="textarea input input-js input--height" ng-model="checkinCtrl.newCheckin.time_bill.memo"></textarea>
          <label ng-class="{'active-input-js' : effect1 || checkinCtrl.newCheckin.time_bill.memo !==''}" class="input__label" for="workon">what did you work on?</label>
          <p class="input__alert" ng-show="checkinCtrl.statusCheckin.memo"><span class="margin-right--smaller sprite sprite--alert"></span>This input requires a value!</p>
        </div>
        <div class="calendar">
          <h2 class="calendar__title">date <span class="calendar__title--sub margin-left--small">{{checkinCtrl.selectedDate.dateToDisplay}}</span></h2>
          <p class="calendar__month"></p>
          <div class="calendar__container">
            <calendar-week 
              week="checkinCtrl.selectWeek"
              date="checkinCtrl.selectedDate"
              checkin="checkinCtrl.newCheckin"
              reset-selected-dates="checkinCtrl.resetSelectedDates()">
            </calendar-week>
            <span class="prev-week sprite sprite--nav-prev" ng-show="checkinCtrl.statusButton" ng-click="checkinCtrl.changeWeek(checkinCtrl.lastWeek)"></span> 
            <span class="next-week sprite sprite--nav-next" ng-hide="checkinCtrl.statusButton" ng-click="checkinCtrl.changeWeek(checkinCtrl.actualWeek)"></span>
          </div>
        </div>
      </div>  
      <span ng-click="checkinCtrl.createCheckin()" class="button-submit" type="submit">{{checkinCtrl.textFormButton}}</span>
    </form>
    <span us-spinner="{radius:12, width:3, length: 4, color: '#D8D8D8'}"></span>
    <ul class="navbar navbar-js">
      <li class="navbar__items"><a class="navbar__links" href="/#/checkin"><span ng-class="{'sprite--add-active':checkinCtrl.leftNavStatus }" class="sprite sprite--add margin-right--middle vertical-align navbar__icon"></span><span ng-class="{'navbar__text--color':checkinCtrl.leftNavStatus }" class="navbar__text vertical-align">New Check-in</span></a></li>
      <li class="navbar__items"><a class="navbar__links" href="/#/history"><span ng-class="{'sprite--history-active': !checkinCtrl.leftNavStatus }" class="sprite sprite--history margin-right--middle vertical-align navbar__icon"></span><span ng-class="{'navbar__text--color': !checkinCtrl.leftNavStatus }" class="navbar__text vertical-align">History</span></a></li>
      <li class="navbar__items"><a class="navbar__links" href="/#/"><span class="sprite sprite--logout margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text vertical-align">Logout</span></a></li>
    </ul>
    <div class="form-shadow"></div>
    <div class="container__form--done" ng-class="{'container__form--done-active' : checkinCtrl.checkinDone}">
      <div class="container__form--icon-done">
        <span class="sprite sprite--done"></span>
        <p class="container__form--text-done">done!</p> 
      </div>
    </div>
  </div>
</div>  
<span class="line line--left"></span>
<span class="circle circle--left"></span>
<span class="line line--right"></span>
<span class="circle circle--right"></span>

<img src="assets/images/koombea-logo.svg" alt="Koombea Logo" class="logo" />
<script>
  $(function() {
    var $mobileMenu   =     $('.button-menu-mobile-js'),
        $nav          =     $('.navbar-js');
    // Mobile Menu
    $mobileMenu.click(function() {
      $nav.toggleClass('navbar__mobile');
    }); 
  });
</script>