<div class="container"> 
  <div class="container__header">
    <h1 class="container__title">
      <span class="container__subtitle">today's</span>
      check-in
    </h1>
    <h1 class="container__title hidden">
      <span class="container__subtitle visibility-hidden">today's</span>
      thank you!
    </h1>
    <img class="button-menu-mobile button-menu-mobile-js" src="assets/images/mobile-btn.svg" alt="Mobile button hamburger" />
  </div>
  <div class="container__form">
    <form class="form" action="">
      <div class="form-padding">
        <div class="input__group effect-select-js">
          <select class="js-select" placeholder="">
            <option class="empty-option-js" value=""></option>
            <option value="saasler">Saasler</option>
            <option value="dashable">Dashable</option>
            <option value="convergely">Convergely</option>
          </select>
          <label class="input__label" for="project">project</label>
        </div>
        <div class="input__group input__group--large effect-select-js">
          <select class="js-select" placeholder="">
            <option class="empty-option-js" value=""></option>
            <option value="saasler">Front-end</option>
            <option value="dashable">Design</option>
            <option value="convergely">Back-end</option>
          </select>
          <label class="input__label" for="task">task</label>
          </div><!-- 
        --><div class="input__group input__group--small input__group--vertical">
          <input class="input input-js" id="duration" type="text" />
          <label class="input__label" for="duration">duration</label>
        </div>
        <div class="input__group">
        <!-- <input class="input input-js" id="workon" type="text" /> -->
        <textarea name="" class="textarea input input-js input--height"></textarea>
        <label class="input__label" for="workon">what did you work on?</label>
        </div>
        <div class="calendar">
        <h2 class="calendar__title">date</h2>
        <p class="calendar__month">may</p>
        <wrap-owlcarousel class="owl-carousel">
          <div class="calendar__item calendar__item--done">
            <span class="hide--mobile item item--day">monday</span>
            <span class="hide--desktop item item--day">m</span> 
            <span class="item item--day-number">25</span>
          </div>
          <div class="calendar__item calendar__item--done">
            <span class="hide--mobile item item--day">tuesday</span> 
            <span class="hide--desktop item item--day">tu</span> 
            <span class="item item--day-number">26</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">wednesday</span>
            <span class="hide--desktop item item--day">w</span>
            <span class="item item--day-number">27</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">thursday</span>
            <span class="hide--desktop item item--day">th</span>
            <span class="item item--day-number">28</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">friday</span>
            <span class="hide--desktop item item--day">f</span>
            <span class="item item--day-number">29</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">saturday</span>
            <span class="hide--desktop item item--day">sa</span>
            <span class="item item--day-number">30</span>
          </div>
          <div class="calendar__item calendar__item--done">
            <span class="hide--mobile item item--day">monday</span>
            <span class="hide--desktop item item--day">m</span>
            <span class="item item--day-number">02</span>
          </div>
          <div class="calendar__item calendar__item--done">
            <span class="hide--mobile item item--day">tuesday</span>
            <span class="hide--desktop item item--day">tu</span>  
            <span class="item item--day-number">03</span>
          </div>
          <div class="calendar__item calendar__item--actual">
            <span class="hide--mobile item item--day">wednesday</span>
            <span class="hide--desktop item item--day">w</span>
            <span class="item item--day-number">04</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">thursday</span>
            <span class="hide--desktop item item--day">th</span>
            <span class="item item--day-number">05</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">friday</span>
            <span class="hide--desktop item item--day">f</span>
            <span class="item item--day-number">06</span>
          </div>
          <div class="calendar__item">
            <span class="hide--mobile item item--day">saturday</span>
            <span class="hide--desktop item item--day">sa</span>
            <span class="item item--day-number">07</span>
          </div>
        </wrap-owlcarousel>
        </div>
      </div>  
      <button class="button-submit" type="submit">add check-in</button>
    </form>
    <ul class="navbar navbar-js">
      <li class="navbar__items"><a class="navbar__links" href="/#/checkin"><span class="sprite sprite--add-active margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text navbar__text--color vertical-align">New Check-in</span></a></li>
      <li class="navbar__items"><a class="navbar__links" href="/#/history"><span class="sprite sprite--history margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text vertical-align">History</span></a></li>
      <li class="navbar__items"><a class="navbar__links" href="/#/home"><span class="sprite sprite--logout margin-right--middle vertical-align navbar__icon"></span><span class="navbar__text vertical-align">Logout</span></a></li>
    </ul>
    <div class="form-shadow"></div>
    <div class="container__form--done">
      <div class="container__form--icon-done">
        <span class="sprite sprite--done"></span>
        <p class="container__form--text-done">done!</p> 
      </div>
    </div>
  </div>
</div>  
<span class="line line--left"></span>
<span class="circle circle--left"></span>
<span class="line line--right"></span>
<span class="circle circle--right"></span>

<img src="assets/images/koombea-logo.svg" alt="Koombea Logo" class="logo" />