/*==========FONTS==================*/
@font-face {
	font-family:"Roboto-Bold";
	src: url("../application/assets/fonts/Roboto-Bold.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"Roboto";
	src: url("../application/assets/fonts/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}