.hide--mobile {
	@media(max-width: 400px) {
		display: none;
	}
}
.hide--desktop {
	@media(min-width: 401px) {
		display: none;
	}
}
.visibility-hidden {
	visibility: hidden;
}
.hidden {
	display: none;
}
.margin-right--middle {
	margin-right: 15px;
}
.margin-left--small {
	margin-left: 10px;
}
.margin-right--smaller {
	margin-right: 5px;
}
.vertical-align {
	vertical-align: middle;
}
.inline-block {
	display: inline-block;
}
.top-cero {
	top: 0;
}
.padding-left--small {
	padding-left: 10px;
}

