.calendar {
  margin-bottom: 30px;
  @media(min-width: 401px){
    margin-bottom: 50px;
  }
  &__title {
    margin-top: 0;
    color: $brand-active;
    font-size: 0.857rem; 
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__item {
    padding: 0.357em 0;
    background-color: rgba($brand-default, 0.2);
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.5s; 
    &--actual {
      border: 1px solid $brand-active;
    }
    &--done {
      border: 1px solid $brand-active;
      background-color: $brand-active;
    }
    @media(min-width: 401px){
      padding: 1.071em 0;
    }
    &:hover {
      border: 1px solid $brand-active;
    }
  }
  &__month {
    text-transform: capitalize; 
    font-size: 0.857rem;
    color: $brand-info;
    margin-left: 5px;
    font-weight: 400;
  }
}
.item {
  display: block;
  &--day {
    font-size: 0.857rem;
    color: $brand-info;
    margin-bottom: 5px;
    text-transform: capitalize; 
    @media(min-width: 401px){
      font-size: 0.714rem; // 10px
      font-weight: 300;
    }
  }
  &--day-number {
    font-size: 1rem;
    color: $brand-info;
    font-weight: 600;
    @media(min-width: 401px){
      font-size: 1.428rem; // 44px
    }
  }
}

.owl-prev {
  position: absolute;
  top: 15px;
  left: -18px;
  @media(min-width: 401px){
    top: 30px;
  }
}

.owl-next {
  position: absolute;
  top: 15px;
  right: -18px;
  @media(min-width: 401px){
    top: 30px;
  }
}






