.calendar {
  margin-bottom: 30px; 
  min-height: 124px;
  &__container {
    position: relative;
    text-align: center;
    padding-left: 7px;
  }
  &__title {
    margin-top: 0;
    color: $brand-active;
    font-size: 0.857rem; 
    text-transform: uppercase;
    margin-bottom: 38px;
    &--sub {
      text-transform: capitalize;
      color: $brand-info;
      font-weight: 400;
      font-size: 0.8571rem;
    }
  }
  &__item {    
    background-color: rgba($brand-default, 0.2);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;  
    margin-right: 6px;
    text-align: center;                                                      
    transition: 0.5s; 
    width: 14.5%;
    &--actual {
      border: 1px solid $brand-active;
      &:hover {
        border: 1px solid  $brand-active !important;
      }
    }
    &--done {
      border: 1px solid $brand-active;
      &:hover {
        border: 1px solid  $brand-active !important;
      }
    }
    &--future {
      cursor: not-allowed;
      &:hover {
        border: 1px solid  transparent !important;
      }
    }
    @media(max-width: 401px){
      margin-right: 4px;
      width: 14%;
    }
  }
  &__item-border {
    padding: 0.142em 0;
    border: 3px solid transparent;
    border-radius: 3px;
    @media(min-width: 401px){
      padding: 0.857em 0;
      border: 3px solid transparent;
    }
    &--done {
      background-color: $brand-active;
    }
    &--done-selected {
      background-color: $brand-active;
      border: 0;
      margin: 3px;
    }
  }
  &__month {
    text-transform: capitalize; 
    font-size: 0.857rem;
    color: $brand-info;
    margin-left: 5px;
    font-weight: 400;
  }
  @media(min-width: 401px){
    margin-bottom: 50px;
  }
  @media(max-width: 401px){
    margin-bottom: 0;
  }
}
.item {
  display: block;
  &--day {
    font-size: 0.857rem;
    color: $brand-info;
    margin-bottom: 5px;
    text-transform: capitalize; 
    @media(min-width: 401px){
      font-size: 0.642rem; // 9px
      font-weight: 400;
    }
  }
  &--day-number {
    font-size: 1rem;
    color: $brand-info;
    font-weight: 600;
    @media(min-width: 401px){
      font-size: 1.428rem; // 44px
    }
  }
}

.prev-week {
  position: absolute;
  top: 15px;
  left: -18px;
  cursor: pointer;
  &:hover {
    transform: scale(1.4);
  }
  @media(min-width: 401px){
    top: 30px;
  }
}

.next-week {
  position: absolute;
  top: 15px;
  right: -18px;
  cursor: pointer;
  &:hover {
    transform: scale(1.4);
  }
  @media(min-width: 401px){
    top: 30px;
  }
}






