.container {
  width: 85%;
  max-width: 519px;
  // min-width: 323px;
  margin: 0 auto;
  padding: 0 15px;
  &__title {
    font-size: 2.142rem; //36px mobile  32 30
    color: $brand-primary;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 183px;
    line-height: 0.9;
    margin-top: 10px;
  }
  &__subtitle {
    font-size: 1.285rem; //24px mobile  20 18
    color: $title-color;
  }
  &__form {
    background: url('../images/checkin-bg.jpg') no-repeat;
    background-size: center;
    border-radius: 5px;
  }
  &__header {
    position: relative;
  }
}

