.container {
  width: 85%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  &__title {
    font-size: 2.142rem; // 30px mobile 
    color: $brand-primary;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 183px;
    line-height: 0.9;
    margin-top: 10px;
    @media(min-width: 401px){
      font-size: 3.142rem; // 44px
      max-width: 255px;
      margin-bottom: 10px;
    }
    &--history {
      color: $brand-active;
      max-width: 160px;
      @media(min-width: 401px){
        font-size: 3.142rem; // 44px
            max-width: 244px;
        margin-bottom: 10px;
      }
    }
    &--color {
      color: $brand-active;
    }
  }
  &__subtitle {
    font-size: 1.428rem; // 20px mobile 
    color: $title-color;
    @media(min-width: 401px){
      font-size: 2.357rem; // 33px
      margin-right: 25px;
    }
  }
  &__form {
    background: url('../images/checkin-bg.jpg') no-repeat;
    background-size: center;
    border-radius: 5px;
    position: relative;
    &--done {
      background-color: $brand-active;
      border-radius: 5px;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 100%;
      transition: 0.5s;
      z-index: 4;
      &-delete {
        background-color: $brand-alert;
      }
    }
    &--done-active {
      top: 0 !important;
      .container__form--icon-done {
        opacity: 1;
        visibility: visible;
      }
    }
    &--icon-done {
      left: 50%;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: 1s;
      z-index: 5;
    }
    &--text-done {
      color: $brand-info;
      font-size: 1.285rem;
      font-weight: 300;
      text-transform: capitalize;
      margin-top: 10px;
    }
  }
  &__header {
    position: relative;
  }
}

